body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:host, :root {
    --tblr-primary: #206bc4;
    --tblr-primary-fg: var(--tblr-light);
    --tblr-primary-darken: #1d60b0;
    --tblr-primary-rgb: 0, 0, 0;
    --tblr-icon-color: var(--tblr-gray-100);
}

.theme-dark {
    --tblr-avatar-bg: #3e3e3e;
    --tblr-body-color: #f8fafc;
    --tblr-body-color-rgb: 248, 250, 252;
    --tblr-body-bg: #353535;
    --tblr-body-bg-rgb: 25.6386364, 34.4795455, 52.1613636;
    --tblr-card-bg: #313131;
    --tblr-card-bg-hover: #2f2f2f;
    --tblr-card-bg-rgb: 25.6386364, 34.4795455, 52.1613636;
    --tblr-card-color: #f8fafc;
    --tblr-border-color: #545454;
    --tblr-border-color-light: #515151;
    --tblr-btn-color: #353535;
    color: #f8fafc;
    background-color: #282828;
}

.dropdown-menu {
    border-radius: 5px 5px 5px 5px;
    --tblr-dropdown-link-active-bg: rgba(var(--tblr-primary-rgb), 0.15);
}

.theme-dark .navbar {
    background: #282828;
    color: rgba(255, 255, 255, .7);
}

.theme-dark .alert:not(.alert-important), .theme-dark .dropdown-menu, .theme-dark .footer:not(.footer-transparent), .theme-dark .modal-content, .theme-dark .modal-header, .theme-dark .toast, .theme-dark .toast-header {
    color: inherit;
}

.theme-dark .card, .theme-dark .card-footer, .theme-dark .card-stacked::after {
    background-color: #313131 !important;
    color: inherit;
}

.dropdown-menu-arrow:before {
    background: #313131 !important;
}

/*.theme-dark {*/
/*  --tblr-body-color: #f8fafc;*/
/*  --tblr-body-color-rgb: 248,250,252;*/
/*  --tblr-body-bg: #1a2234;*/
/*  --tblr-body-bg-rgb: 25.6386364,34.4795455,52.1613636;*/
/*  --tblr-card-bg: #1a2234;*/
/*  --tblr-card-bg-hover: #1a2234;*/
/*  --tblr-card-bg-rgb: 25.6386364,34.4795455,52.1613636;*/
/*  --tblr-card-color: #f8fafc;*/
/*  --tblr-border-color: #2a3956;*/
/*  --tblr-border-color-light: #243049;*/
/*  --tblr-btn-color: #1a2234;*/
/*  color: #f8fafc;*/
/*  background-color: #1a2234;*/
/*}*/