.DataTable {
}

.row {

}

.row.checked {
    background: #282828;;
}

.row.active {
    background: #282828;;
}
/*.row:hover {*/
/*    background: var(--tblr-card-bg);*/
/*}*/
.row:hover {
    background: #282828;
}